@use "../utils" as *;
body {
  background-color: $bg-color;
  color: $color;
  font-family: $font;
  padding: 0;
}
a,
a::after,
a::before {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}
