@use "../utils" as *;
.video-container {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding: $paddingContainer;

  @include breakpointdown(sm) {
    padding: 0;
  }
}
