@use "../utils" as *;

.navbar {
  position: sticky;
  background-color: white;
  top: 0;
  @include flex();
  justify-content: space-between;
  padding: rem(10) rem(15);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  z-index: 3;

  &__left-side {
    @include flex();
    img {
      width: rem(25);
      margin-right: rem(20);

      ~ .logo {
        width: rem(120);
      }
    }
  }

  &__middile-side {
    .search-box {
      border: rem(1) solid grey;
      padding: rem(8) rem(15);
      border-radius: rem(20);
      @include flex();
      img {
        width: rem(20);
        margin-left: rem(10);
      }

      input {
        width: rem(380);
        border: none;
        outline: none;
        font-size: rem(18);
        @include breakpointdown(md) {
          width: rem(120);
        }
      }
    }
  }

  &__right-side {
    @include flex();

    img {
      width: rem(30);
      margin-left: rem(15);
    }
    img:last-child {
      border-radius: 50%;
    }
  }
}
