@use "../utils" as *;
.sidebar {
  position: fixed;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;

  .shortcut-link {
    margin: 0 rem(15);
    hr {
      margin: rem(15) 0;
    }
    .side-link {
      display: flex;
      align-items: center;

      margin-top: rem(15);

      img {
        width: rem(35);
      }
      p {
        font-size: rem(19);
        margin-left: rem(15);
      }
    }
    .subscribed-list {
      h3 {
        font-weight: 600;
      }
      p {
        font-size: rem(19);
      }
      img {
        border-radius: 50%;
        width: rem(40);
      }
    }
  }
}
